html {
  background: black !important;
}

div {
  color: white !important;
  background: #101010 !important;
}

nav {
  color: white !important;
  background: #101010 !important;
}

nav a {
  color: white !important;
}

nav a.brand:after {
  color: white;
  content: 'DARK'
}

.filter {
  background: white !important;
  filter: invert(1);
}

* {
  border-radius: 5px !important;
}

.dropdown-item {
   color:white !important; 
}
